/* ---------------------------------------------------------------------- */
/*	Basic Elements & Classes
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/*	Wrap
/* ---------------------------------------------------------------------- */

/*.container {*/
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*width: 940px;*/
/*}*/

html { background:url(../images/html_bg_64x64.png) 0 0 repeat scroll transparent; }
body {
    -webkit-box-shadow: 0 0 20px 5px #222;
       -moz-box-shadow: 0 0 20px 5px #222;
            box-shadow: 0 0 20px 5px #222;
}
body.home.page .slogan { color:#970101; }
a, a > * {
    color: #3a3a3a;
    text-decoration: none;
    -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

/* ---------------------------------------------------------------------- */
/*	Header
/* ---------------------------------------------------------------------- */

#header { border-color:#8a8a8a; }
#logo { margin-left:-3px; }

.not-ie #main-nav .current_page_item, .not-ie #main-nav .current_page_parent { position:relative; }
.not-ie #main-nav .current_page_item:after, .not-ie #main-nav .current_page_parent:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    margin-left:-5px;
    border-width:5px 5px 0 5px;
    border-color:transparent white;
    border-style:solid;
    position: absolute;
    bottom:-5px;
    z-index: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}
#main-nav a { color:#970101; }
#main-nav a:hover, #main-nav .hover > a,
#main-nav .current_page_item > a, #main-nav .current_page_parent > a,
.ss-slider.fully-loaded .slide-button:hover,
.ss-slider.fully-loaded .slide-button.active {
    background: transparent;
    background: rgba(0, 0, 0, 0.1);;
    -ms-filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)';
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
}

/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */
.ss-slider .slide-button,
.no-js .ss-slider .slide-button:hover,
.ss-slider .slide:first-child .slide-button { background-color:transparent; }
.ss-slider .buttons-container { background-color:transparent !important; }
.ss-slider .slide-button .dropcap {
    background:url(../images/ss-slider-dropcap.png) 0 0 no-repeat scroll #970101;
    overflow:hidden;
    text-indent:-999px;
    -webkit-border-radius: 18px;
       -moz-border-radius: 18px;
            border-radius: 18px;
    height: 36px;
    width: 36px;
    margin-right:9px;
}
.ss-slider .slide-button h5 {
    font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight:800;
    color:#970101;
}
.ss-slider .slide-button .description {
    font-style:italic;
    font-size:12px;
}
.page-header {
    border-color:#8a8a8a;
}
.page-header .page-title { margin-top:30px; }
.hentry,
.widget li{ border-bottom:1px dotted #8a8a8a; }
.entry-meta {
    font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size:11px;
}

    /* ---------------------------------------------------------------------- */
    /*	Content > Post Carousel
    /* ---------------------------------------------------------------------- */
    body.home h6.section-title {
        color:#970101;
        font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
        font-size:14px;
        font-weight:800;
        line-height:14px;
        margin-bottom:0;
        padding-bottom:0;
    }
    .jcarousel-container { margin-bottom:82px; border-color:#8A8A8A; }
    .jcarousel-clip .post-carousel { height:215px; border-bottom:1px solid #8A8A8A; overflow:visible !important; }
    .jcarousel-next, .jcarousel-prev { background-color:#CCC; }
    .jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active { background-color:#DDD !important; }
    .post-carousel .entry-body {
        color:#9A9A9A;
        font-style:italic;
        line-height:15px;
        width:181px;
        max-height:53px;
        margin-top:-3px;
        overflow:hidden;
    }
    .post-carousel .entry-body .title {
        color:#970101;
        font-style:normal;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        margin-bottom:5px;
    }
    .post-carousel .entry-video { height:140px; overflow:hidden; }
    .post-carousel .entry-meta { margin:0; }
    .post-carousel .entry-meta > a { display:none; }
    .post-carousel .entry-meta .date { color:#8A8A8A; margin:-1px 0 0 0; }
    .post-carousel .entry-meta a time {
        font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
        font-size:25px;
        font-weight:800;
        font-style:normal;
        text-transform:uppercase;
        color:#848483;
        line-height:25px;
    }
    .post-carousel .entry-meta a time .month {
        font-size:14px;
        line-height:14px;
        padding-bottom:7px;
        display:block;
    }
    .post-carousel > li, .projects-carousel > li {
        position:relative;
        height:100%;
        border-bottom:1px solid transparent;
        z-index:2;
        -webkit-transition: border-color .2s ease-in-out, background .2s ease-in-out, -webkit-transform .2s ease-in-out;
           -moz-transition: border-color .2s ease-in-out, background .2s ease-in-out, -moz-transform .2s ease-in-out;
             -o-transition: border-color .2s ease-in-out, background .2s ease-in-out, -o-transform .2s ease-in-out;
                transition: border-color .2s ease-in-out, background .2s ease-in-out, transform .2s ease-in-out;
    }
    .post-carousel > li:hover, .projects-carousel > li:hover {
        border-color:#970101;
        background: transparent;
        background: rgba(0, 0, 0, 0.1);;
        -ms-filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)';
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
    }
    .post-carousel.tribe_events .entry-body { text-align:center; width:100%; }
    .post-carousel.tribe_events .entry-meta { display:none; }



/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */
.not-ie #footer:before {
    background: #fff;
    content: '';
    left: 50%;
    display: none;
}

#footer .widget li{ border-bottom:0; }
#footer .widget_nav_menu li a,
#footer .one-fourth .widget-title {
    font-size:12px;
}
#footer .widget_nav_menu li a,
#footer .one-fourth .widget-title,
.contact-info {
    font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight:300;
}

.contact-info { font-size:10px;font-weight:400; }
.contact-info .address,
.contact-info .phone,
.contact-info .email {
    background:none;
    margin-left:4px;
    padding:0;
}
.contact-info .phone:before,
.contact-info .email:before {
    content: '| ';
}

/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */

/* Standard 1090 or larger (browsers) */
@media only screen and (min-width: 1090px) {
    body { width:1090px; margin:0 auto; }
}

/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {
    body.home.page .slogan { width:95%; margin-left:auto; margin-right:auto; }
    #main-nav a {
        font-size:1.27em;
        padding:31px 10px 30px;
    }
    /* -------------------------------------------------- */
    /*	Home > Slider
     /* -------------------------------------------------- */
    .ss-slider .content-container {
        width:368px !important;
        height:380px !important;
        padding:0 !important;
        top:0 !important;
        right:0;
        left:auto !important;
        border-left:4px solid #970101;
        background: transparent;
        background: rgba(0, 0, 0, 0.4);;
        -ms-filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000)';
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
        overflow:visible;
    }
    .ss-slider .content-container:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-width:10px 10px 10px 0;
        border-color:transparent #970101;
        border-style:solid;
        position: absolute;
        top:180px;
        right:372px;
        z-index: 1;
    }
    .ss-slider .content-container .slide-content {
        font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
        font-weight:800;
        font-size:32px;
        line-height:28px;
        color:#E2E2E2;
        text-align:left;
        text-transform:uppercase;
        text-shadow:none;
        width:310px;
        height:310px;
        padding:37px 0 0 32px;
        overflow:hidden;
    }
    .ss-slider .content-container .slide-content .button {
        color:#970101;
        font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
        font-weight:800;
        font-size:12px;
        line-height:normal;
        text-transform:uppercase;
        padding:15px 0 0 1px;
    }
    .ss-slider .slide-button,
    .no-js .ss-slider .slide-button:hover,
    .ss-slider .slide:first-child .slide-button {
        padding-top:20px;
        border-bottom-color:#8a8a8a;
        -webkit-box-shadow: 0 0 0 0 transparent !important;
           -moz-box-shadow: 0 0 0 0 transparent !important;
                box-shadow: 0 0 0 0 transparent !important;
    }
    .ss-slider .pagination-container { display:none; }

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .contact-info .phone,
    .contact-info .email {
        margin-left:0;
    }
    #main-nav a { padding:26px 5px; }
    .contact-info .phone:before,
    .contact-info .email:before {
        content: '';
    }
    /* -------------------------------------------------- */
    /*	Home > Slider*/
     /* -------------------------------------------------- */

    .ss-slider .slide-images-container { overflow:hidden; }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #logo { margin-top:0; }
    #logo img { height:73px; }
    .jcarousel-clip .post-carousel { height:225px; }
    /* -------------------------------------------------- */
    /*	Wrap
     /* -------------------------------------------------- */

    /*.container { width: 748px; }*/


}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #header { border-color:#CCC; }
    #main-nav a { border-bottom-color:#CCC; }
    /* -------------------------------------------------- */
    /*	Wrap
     /* -------------------------------------------------- */

    /*.container { width: 300px; }*/

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .jcarousel-clip .post-carousel { height:202px; }
    .post-carousel .entry-body { width:160px; }

    /* -------------------------------------------------- */
    /*	Wrap
     /* -------------------------------------------------- */

    /*.container { width: 420px; }*/

    /* ---------------------------------------- */
    /*	Columns*/
    /* ---------------------------------------- */


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .jcarousel-clip .post-carousel { height:266px; }
    .post-carousel .entry-body { width:255px; }
    /* -------------------------------------------------- */
    /*	Header > Main Navigation
     /* -------------------------------------------------- */

}

/* Facebook Comments Responsive Style*/
.fbcomments,.fb_iframe_widget,.fb_iframe_widget[style],.fb_iframe_widget iframe[style],.fbcomments iframe[style],.fb_iframe_widget span { width: 100% !important; }

/* Mail Chimp */
#content .mc_signup_submit {
    text-align:left;
    margin:10px 0;
}
#content .mc_custom_border_hdr {
    font-family:"Open Sans", "Helvetica Neue", arial, sans-serif;
    font-size:15px;
    font-weight:600;
    color:#333;
}
#content .mc_merge_var label { display:none; }
#content .mc_merge_var input {
    margin:10px 0;
    border:1px solid #CCC;
}
#content #mc_signup_submit {
    font-family:"Open Sans", "Helvetica Neue", arial, sans-serif;
    font-weight:700;
    width:222px;
}


/* -------------------------------------------------- */
/*	Events
/* -------------------------------------------------- */
#tribe-events-content {padding:0;}